* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background: #f2f3f5;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 50px;
    min-height: 100vh;
    
    background-image: linear-gradient(#78689f, #D3C5E5);
}

.todo-container {
    /* background: #fff; */
    padding: 30px;
    width: 1040px;
    border-radius: 12px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.todo-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    display: flex;
    margin-bottom: 20px;
}

.input-group input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border: none;
    border-radius: 8px 0 0 8px;
    outline: none;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    
}


.input-group button {
    padding: 10px 15px;
    border: none;
    background: #5b7cfa;
    color: #fff;
    border-radius: 0 8px 8px 0;
    cursor: pointer;
    transition: background 0.2s ease;
}

.input-group button:hover {
    background: #4c69db;
}

ul {
    list-style: none;
    
}

li {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    padding: 10px 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-text {
    flex: 1;
    margin-right: 10px;
    color: #333;
    font-weight: 800;

}

.task button {
    margin-left: 5px;
    padding: 6px 8px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.edit-btn {
    background: linear-gradient(to bottom right, #aa9ac5, hsl(258.55deg 45.84% 54.77%));
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.delete-btn {
    background: linear-gradient(to bottom right, #bc828d, #d0a58a);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    margin: 0px 3px;
}

.edit-btn:hover {
    color: black;
    box-shadow: 0 0 .25rem rgba(17, 109, 7, 0.5), -.125rem -.125rem 1rem rgba(3, 6, 2, 0.5), .125rem .125rem 1rem rgba(141, 119, 105, 0.5);
}

.delete-btn:hover {
    color: black;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.clearbtn {
    appearance: none;
    background-color: transparent;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.clearbtn:disabled {
    pointer-events: none;
}

.clearbtn:hover {
    color: #f3f1f1;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.clearbtn:active {
    box-shadow: none;
    transform: translateY(0);
}